.default-modal .modal-wrapper {
  max-height: 50%;
  position: absolute;
  bottom: 0px;
}

.entry-modal .modal-wrapper {
  max-height: 60%;
  position: absolute;
  bottom: 0px;
}

.schedule-modal .modal-wrapper {
  max-height: 75%;
  position: absolute;
  bottom: 0px;
}

.fab {
  position: fixed;
  bottom: 110px;
  right: 10px;
}

.xx-large {
  font-size: 15vw;
}

.x-large {
  font-size: 10vw;
}

.small {
  font-size: 5vw;
}

.popover .popover-content {
  min-width: 60%;
}

.ad-close {
  position: fixed;
  left: 0px;
  bottom: 100px;
  z-index: 999;
}